.marginBot2 {
  margin-bottom: 8px !important;
}

.marginBot4 {
  margin-bottom: 16px !important;
}

.lolz {
  z-index: 9999 !important;
}

.marginTop2 {
  margin-top: 16px !important;
}

.fullWidth {
  width: 100% !important;
}